.camp {
    min-height: 100vh;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header>div:nth-last-of-type(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin-left: 40px;
    padding: 0;
}

header>div>div {
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header>div input[type="radio"] {
    appearance: none;
}

header>div input[type="radio"]+label {
    display: block;
    width: 130px;
    height: fit-content;
    padding: 12px 10px;
    border-radius: 6px;
}

header>div input[type="radio"]+label:hover {
    cursor: pointer;
    background-color: var(--main-color);
}

header>div input[type="radio"]:checked+label,
header>div input[type="radio"]:checked+label>a {
    text-align: center;
    background-color: black;
    color: white;
    transition: 0.5s;
}


header>.nav-ico {
    display: none;
}

/* end header  */
.camp section {
    display: grid;
    justify-content: center;
    grid-template-columns: 35% 55%;
    margin: 30px 0;
    flex: 1;
}

.camp section>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
    border: 1px solid #333;
    border-radius: 6px;
}

.camp section>.review {
    margin-left: 40px;
}

.camp section>.review>.comment {
    border-bottom: 1px solid #333;
    position: relative;
    margin-bottom: 20px;
}

.camp section>.review>.comment::after {
    position: absolute;
    top: 0;
    right: 0;
    cursor: text;
}

.camp section>.review>.comment:nth-of-type(1):after {
    content: "13 hour ago";
}

.camp section>.review>.comment:nth-of-type(2):after {
    content: "1 day ago";
}

.camp section>.review>.comment:nth-of-type(3):after {
    content: "3 days ago";
}

.camp section>.review>div:last-child {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 100%;
    height: fit-content;
    padding: 5px 0;
}

.camp section>.review>div:last-child>input[type="radio"] {
    appearance: none;
}

.camp section>.review>div:last-child>input[type="radio"]:checked+label {
    display: none;
}

.camp section>.review>div:last-child>label {
    width: 160px;
    height: fit-content;
    padding: 15px;
    color: white;
    display: flex;
    margin-left: auto;
    background-color: black;
    cursor: pointer;
    transition-delay: 0.5s;
}

.camp section>.review>div:last-of-type>label>img {
    margin-right: 5px;
}

.camp section>.review>div:last-child>form {
    display: none;
    position: relative;
    height: fit-content;
}

.camp section>.review>div:last-child>input[type="radio"]:checked+label+form {
    display: flex;
}

.camp section>.review>div:last-child>form textarea {
    width: calc(100% - 50px);
    border: 1px solid #333;
    resize: vertical;
    min-height: 20px;
    padding: 5px 10px 0px;
}

.camp section>.review>div:last-child>form input {
    display: none;
}

.camp section>.review>div:last-child>form input+label {
    cursor: pointer;
    margin-left: 5px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.camp section>.review>div:last-child>form input+label>img {
    height: 25px;
}

@media (max-width:992px) {
    header>div:nth-of-type(2) {
        display: none;
    }

    header .nav-ico {
        background-color: var(--main-color);
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 5px;
        padding: 10px;
    }

    .nav-ico::after {
        content: "";
        position: absolute;
        bottom: -20px;
        border: 10px solid;
        border-color: rgba(204, 204, 204, 0.681) transparent transparent;
        display: none;
    }

    .nav-ico>.mobo-nav-men {
        background-color: rgba(204, 204, 204, 0.681);
        position: absolute;
        top: calc(100% + -2px);
        right: 0px;
        height: 200px;
        min-width: 200px;
        max-width: 300px;
        padding: 0px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        display: none;
    }

    .nav-ico>ul>li {
        display: flex;
        align-items: center;
        height: 40px;
        width: 100%;
        background-color: rgba(238, 238, 238, 0.8);
        padding: 0 10px 0;
        border-bottom: 2px solid rgba(51, 51, 51, 0.806);
        color: rgba(51, 51, 51, 0.806);
    }

    .nav-ico:hover>ul {
        display: flex;
    }

    .nav-ico:hover.nav-ico::after {
        display: initial;
    }

    /* end header media  */
    .camp section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .camp section>.review {
        margin: 30px 0 0;
    }
}